.HomeFeed__container {
  flex: 0.6;
  border: 2px solid black;
}
.Feeds_content {
  display: flex;
  margin-left: 1em;
  margin-top: 1em;
  background-color: skyblue;
  padding: 1rem;
}
.Tweet {
  margin-left: 0.8em;
}
.user {
  display: flex;
}
.user__tag {
  color: lightgray;
}
.Tweet > img {
  margin-top: 1.5em;
}
.Feeds_content:hover {
  transform: scale(1.05);
}
.Tweet__icons {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}
.likes .comments {
  display: flex;
  align-items: center;
}
.likes:hover {
  color: #e71c23;
}
.comments {
  color: #0a79df;
}
.download {
  color: #45ce30;
}
.replay {
  color: #bb2cd9;
}
.user {
  color: #0a79df;
}
.file {
  width: 200px;
}
